
  <!-- Main navigation -->
  <header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>
    </nav>
    <!-- Full Page Intro -->
    <div class="view"
      style="background-image: url('https://cdn.pixabay.com/photo/2019/09/28/10/37/airplane-4510407__340.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
              <h1 class="h1-responsive font-weight-bold mt-sm-5">Make your Journey Memorable roam around the world </h1>
              <hr class="hr-light">
              <h6 class="mb-4">Flying, like life, is full of precluded possibilities. ...
              </h6>
<div class="row">

    <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white">
      <a routerLink="/loginadmin" type="submit" class="btn btn-primary btn-block">Log In As Admin</a>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white">
      <a routerLink="/login" type="submit" class="btn btn-primary btn-block">Log In As User</a>
    </div>
  </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
              <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
  <!--Main Layout-->
  

