<div class="image">
<div class="container">
  <h2 class="text-center text-blue"> Welcome User!!!</h2>
  <div class="row">
    <div class="card col-md-4 offset-md-4 shadow-lg p-3  bg-white">
      <a routerLink="/bookflight" class="btn btn-primary  btn-block">Book A Flight</a>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-4 offset-md-4 shadow-lg p-3  bg-white">
      <a routerLink="/viewflight" class="btn btn-primary btn-block">View Available Flight</a>
    </div>
  </div>
  <div class="row">
  <div class="card col-md-4 offset-md-4 shadow-lg p-3 bg-white">
    <button class="btn btn-primary  btn-block">Cancel A Booking</button>
  </div>
</div>
</div>
</div>