<div class="conatiner">
<div class="card col-md-12 offset-md-12 shadow-lg p-3 mb-5 bg-white">
    <div class="text-center font-italic bg-primary">
        <h2 style="color:aqua;">Search Schedule Flight</h2>
        </div>
<table class="table">
<tr>
<td>Enter Scheduele Flight Id</td>
<td><input type="text"></td>
</tr>
<tr>
<td>Source Airport</td>
<td><input type="text"></td>
</tr>
<tr>
<td>Destination Airport</td>
<td><input type="text"></td>
</tr>
<tr>
<td>Departure Time</td>
<td><input type="date" id="date" name="date"></td>
</tr>
<tr>
<td>Arrival Time</td>
<td><input type="date" id="date" name="date"></td>
</tr>
<tr>
<td>Ticket Cost</td>
<td><input type="text"></td>
</tr>
</table>
<button type="submit" class="btn btn-primary">Search</button>
</div>
</div>