<div class="container">
    <div class="text-center font-italic bg-primary">
        <h2 style="color:aqua;">Welcome To Our Website</h2>
        </div>
        <br>
    
  <div class="row">

    <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white">
      <a routerLink="/loginadmin" type="submit" class="btn btn-primary btn-block">Log In As Admin</a>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white">
      <a routerLink="/login" type="submit" class="btn btn-primary btn-block">Log In As User</a>
    </div>
  </div>
</div>
