
<h1 style="text-align:center;">Add Flight</h1>

<form>
  <div class="form-group row">
    <label for="flightid" class="col-sm-2 col-form-label">Flight Id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="flightid" placeholder="Flight Id">
    </div>
  </div>
  <div class="form-group row">
    <label for="flightmodel" class="col-sm-2 col-form-label">Flight Model</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="flightmodel" placeholder="Flight Model">
    </div>
  </div>
  <div class="form-group row">
    <label for="caarriername" class="col-sm-2 col-form-label">Carrier Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="carriername" placeholder="Carrier Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="seatcapacity" class="col-sm-2 col-form-label">Seat Capacity</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="seatcapacity" placeholder="Seat Capacity">
    </div>
  </div>
  <div class="form-group row">
    <label for="ticketcost" class="col-sm-2 col-form-label">Ticket Cost</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ticketcost" placeholder="Tikcet Cost">
    </div>
  </div>
  <div class="form-group row">
    <label for="arrivaltime" class="col-sm-2 col-form-label">Arrival Time</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="date" placeholder="Arrival Time">
    </div>
  </div>

  <div class="form-group row">
      <div class="text-center">
    <div class="col-md-10">
       
      <button type="submit" class="btn btn-primary">ADD</button>
    </div>
    </div>
  </div>
</form>
