
<h1 style="text-align:center;">Add Scheduele Flight</h1>

<form>
  <div class="form-group row">
    <label for="schdueleflightid" class="col-sm-2 col-form-label">SchedueleFlight Id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="schedueleflightid" placeholder="Scheduele Flight Id">
    </div>
  </div>
  <div class="form-group row">
    <label for="sourceairport" class="col-sm-2 col-form-label">Source Airport</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="sourceairport" placeholder="Source Airport">
    </div>
  </div>
  <div class="form-group row">
    <label for="destinationairport" class="col-sm-2 col-form-label">Destination Airport</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="destinationairport" placeholder="Destination Airport">
    </div>
  </div>
  <div class="form-group row">
    <label for="departuretime" class="col-sm-2 col-form-label">Departure Time</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="date" placeholder="Departure Time">
    </div>
  </div>
  <div class="form-group row">
    <label for="arrivaltime" class="col-sm-2 col-form-label">Arrival Time</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="date" placeholder="Arrival Time">
    </div>
  </div>
  <div class="form-group row">
    <label for="ticketcost" class="col-sm-2 col-form-label">Ticket Cost</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ticketcost" placeholder="Tikcet Cost">
    </div>
  </div>
  

  <div class="form-group row">
      <div class="text-center">
    <div class="col-md-10">
       
      <button type="submit" class="btn btn-primary">ADD</button>
    </div>
    </div>
  </div>
</form>
