<div class="p-3 mb-2 bg-white text-dark">

  <div class="container">
    <div class="card col-md-12 offset-md-12 shadow-lg p-3 mb-5 bg-white">
      <h2>Booking Details</h2>
      <table class="table">
        <tr>
          <td><input type="text" name="name" placeholder="Name" class="form-control"></td>
          <td><input type="text" name="age" placeholder="Age" class="form-control"></td>
          <td><select id="gender">
              <option default value="select">Gender</option>
              <option value="male">Male</option>
              <option value="femali">Female</option>
              <option value="other">Others</option>
            </select></td>
          <td><input type="text" name="name" placeholder="ID number" class="form-control"></td>

        </tr>
        <tr>
          <td><input type="text" name="name" placeholder="Name" class="form-control"></td>
          <td><input type="text" name="age" placeholder="Age" class="form-control"></td>
          <td><select id="gender">
              <option default value="select">Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Others</option>
            </select></td>
          <td><input type="text" name="name" placeholder="ID number" class="form-control"></td>
        </tr>
        <tr>
          <td><input type="text" name="name" placeholder="Name" class="form-control"></td>
          <td><input type="text" name="age" placeholder="Age" class="form-control"></td>
          <td><select id="gender">
              <option default value="select">Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Others</option>
            </select></td>
          <td><input type="text" name="name" placeholder="ID number" class="form-control"></td>
        </tr>
        <tr>
          <td><input type="text" name="name" placeholder="Name" class="form-control"></td>
          <td><input type="text" name="age" placeholder="Age" class="form-control"></td>
          <td><select id="gender">
              <option default value="select">Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Others</option>
            </select></td>
          <td><input type="text" name="name" placeholder="ID number" class="form-control"></td>
        </tr>
      </table>
      <p style="font-size:10px">*Maixmum 4 passenger par booking.</p>
    </div>
    <div class="card shadow-lg col-md-12">
      <div class="row">
        <div class=" col-md-6 p-3  bg-white">
          Billing Address:
          <div class="clearfix">
            <input type="text" class="glyphicon glyphicon-home">
          </div>
        </div>
        <div class=" col-md-6  p-4 bg-white">
          Contact Number:
          <div class="clearfix">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <input type="checkbox" id="agr" name="agr" value="agr">
    <label for="agr"> I agree terms and conditions</label>
    <br>
    <button type="submit" class="btn btn-primary btn-lg">Book</button>

  
</div>
</div>
